body {
    font-family:sans-serif;
    margin: 0px
}

.flag {
    width: 500px;
    height: 100px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 50px 25px;
    display: inline-block;
}

.left_right {
    margin: 0px 25px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.gold {
    background-color: gold;
}