body {
    font-family:sans-serif;
    margin: 0px
}

.flag {
    width: 500px;
    height: 100px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.gold {
    background-color: gold;
}